<h1>HRWA API</h1>
<br />
<p>The HRWA API is relatively limited right now, but might do more in the future.</p>
<p class="alert alert-info"><strong>Note:</strong> All API responses are returned as JSON.</p>

<h3>Site API Calls</h3>
