<div class="row">
  <div class="span12">
		<article class="entry">
      <h2>About G.E.E. Lindquist</h2>
      <br />
      <%= image_tag("about_lindquist.jpg", :class => 'pull-right thumbnail', :id => 'about_lindquist_img' ) %>
      <p>
        Gustavus Elmer Emmanuel Lindquist (1886-1967) was a prominent figure in twentieth-century Protestant missions among Native Americans. The eldest of six children born to Swedish émigré parents in Lindsborg, Kansas, Lindquist's interest in mission work developed during summer breaks in ministry projects on North American Indian reservations, while attending school at Bethany College and the Oberlin Graduate School of Theology.
      </p>
      <p>
        Lindquist was uniquely positioned to amass this large and varied archive of materials.  After graduation and throughout most of his working life, his positions required Lindquist to travel throughout the United States, Canada, and Mexico, visiting Indian reservations and schools, interacting with missionaries and Indian communities in the area, and reporting back to the home organizations about the work being carried out. Although he worked in a number of capacities, he spent thirty-four years serving with the Home Missions Council of the Federal Council of Churches.  In addition, for twenty-six years he received an additional stipend as the Missionary-at-Large for the Society for the Propagation of the Gospel among Indians and Others in North America.  Based out of Lawrence, Kansas, for most of his career, Lindquist crisscrossed the country acting as a liaison between local church leaders and community organizers in the field and ecumenical bodies headquartered on the east coast.  In the year 1928 alone, for example, he visited thirty-four different Indian reservations.  By his own count, he traveled almost a million miles between 1927 and the time of his retirement in 1953.  So it is no wonder that he would accumulate the materials now accessible to us.
      </p>
      <p>
        While this collection may be approached from a number of different perspectives, it would be helpful to consider the photographs in the context of Lindquist's larger goals.  Lindquist's vocation, of course, was that of a missionary-a calling that evokes its share of stereotypes, both positive and negative.  But as one may be able to tell from the photographs in the collection, Lindquist's primary responsibilities had little to do with preaching revivals and other proselytizing activities.  Instead, he committed most of his time to networking and institution-building.  His theological perspective, in other words, owed more to the social gospel than to 20th-century evangelicalism.  Drawing on what he regarded as the progressive standards of Western civilization, Lindquist sought to create institutions whereby Native Americans could be healthier, better educated, more prosperous, and more fully empowered to enjoy the civil liberties and benefits of American citizenship.  For him, as for most missionaries in his day, the goals of Christianization and assimilation were inseparable and mutually reinforcing.
      </p>
      <p>
        These goals had a direct bearing on the photographs in the collection.  Buildings provide an obvious example.  In his sermons and speeches Lindquist would sometimes say that the “measure of a man” was not the house he was born in, but the house he built for himself.  At the risk of some over-simplification, then, one might say that for Lindquist, photographs of Indian residences served to indicate the degree of “progress” achieved by individual families.  Missionary parsonages likewise symbolized the lifestyle to which Native Americans should aspire.  And church buildings were visible manifestations of the success or failure of a mission plant.  Given their symbolic content, these images also served as powerful tools for recruitment and fund-raising.  Scenes of reservation poverty and destitution could tell national church audiences of the scope of the need, while images of affluent Indian homes and churches provided reassurance that missionary efforts genuinely fostered thriving Indian communities.
      </p>
      <p>
        But while Lindquist's intentions matter, they do not exhaust the meaning of this rich collection.  Many Native Americans took the services that Lindquist and other missionaries offered and used them to more effectively resist assimilationist goals.  In the same way, this collection of photographs may yield narratives very different from those that Lindquist sought to tell.
      </p>

      <p>CHRONOLOGY</p>

      <ul>
      <li>1886 - Born near Lindsborg, Kansas, the son of Swedish Lutheran immigrants.</li>
      <li>1908 - Completed undergraduate studies at Bethany College in Lindsborg; began to pursue a 			career in Indian work after meeting Walter and Mary Roe, missionaries in Colony, 			Oklahoma.</li>
      <li>1909-1912 - Studied theology at Oberlin School of Theology in Ohio.</li>
      <li>1912 - Ordained as a Congregationalist minister (part of the denomination that known today as 		the United Church of Christ).</li>
      <li>1912-1915 - Served as YMCA Secretary at Haskell Indian Institute, in Lawrence, Kansas, where he was 		responsible for leadership training, event planning, and religious activities at the 			federally-operated boarding school.</li>
      <li>1915-1917 - Served as principal of the privately-funded Roe Indian Institute (later American Indian 			Institute) in Wichita, Kansas.  Touted as the nation's only college preparatory school for 			Native Americans, the Institute was founded by Lindquist and the Yale-educated 			Winnebago Indian, Henry Roe Cloud.</li>
      <li>1918-1922 - Served as Secretary of Indian Work for the International Committee of the YMCA, with 			special emphasis on “war work” among Indian soldiers and sailors during World War I.</li>
      <li>1918-1922 - Served as Director of the American Indian Survey, which was begun under the auspices 			of the Interchurch World Movement, and continued in 1920 under the Rockefeller-			funded Institute for Social and Religious Research.  This work resulted in the publication 			of Red Man in the United States (1923), the first in a series of almost a dozen books 			authored or edited by Lindquist.  Images that date to this time period were likely part of 			that national research project.</li>
      <li>1920-1953 - Served as the Field Secretary for Indian Work for the Home Missions Council of the 			Federal Council of Churches, a New York-based ecumenical organization that helped to 			coordinate religious, educational, and social services in Native communities.  (The 			Federal Council of Churches was reorganized and renamed as the National Council of 			Churches in 1950.)  Lindquist's responsibilities varied over the years, but they included 			facilitating communication between field missionaries, most of whom were in the trans-			Mississippi West, and missionary administrators, whose offices were typically in New 			York.  He also addressed areas of conflict and cooperation between missionaries and 			government agents working for the Bureau of Indian Affairs.  And he conducted field 			studies among Indian populations where church leaders were seeking to expand their 			work.</li>
      <li>1922-1927 - Served for the Home Missions Council as the Religious Work Director at Haskell Indian 			Institute.  He also supervised the activities of Religious Work Directors at other federal 			boarding schools.</li>
      <li>1927-1953 - Served as Missionary-at-Large for the Society for the Propagation of the Gospel among 			Indians and Others in North America, a Boston-based agency founded in 1787.  His 			primary responsibilities included public speaking engagements in churches, schools, 			and civic organizations, with the purpose of promoting the integration of Indians in the 			mainstream of American society.</li>
      <li>1930-1933 - Appointed by President Herbert Hoover to serve on the Board of Indian Commissioners.  		This board was established in 1869 to address allegations of mismanagement in the 			administration of the Bureau of Indian Affairs (BIA).  Many photographs dating to this 			period may be related to investigations Lindquist conducted on behalf of the Board.</li>
      <li>1935-1953 - Served as founder and director of the National Fellowship of Indian Workers.  This 			organization sought to provide opportunities for dialogue and interaction among church 		leaders, educators, BIA agents, and social workers, who often spent most of their 			careers isolated from one another on widely dispersed reservations.  Aside from 			fellowship, the organization promoted Indian leadership in churches and schools and 			provided a forum for those seeking to reform federal Indian policies.</li>
      <li>1967 - Died in Palm Beach, Florida.</li>
      </ul>

      <p>
				<strong>David W. Daily</strong><br />
				Associate Professor of Religion<br />
				University of the Ozarks
      </p>
      <p>
        <strong>With assistance from:</strong><br />
        Ruth Tonkiss Cameron<br />
        Archivist, The Burke Library at Union Theological Seminary<br />
        Columbia University Libraries
			</p>

    </article>
  </div>
</div>
