<div class="row">
  <div class="span12">
		<article class="entry">
      <h2>About the Archive</h2>
      <br />
			<!-- Photo credit: http://commons.wikimedia.org/wiki/File:Four_freedoms_human_rights.jpg -->
      <%= image_tag("four_freedoms_human_rights.jpg", :class => 'pull-right thumbnail', :id => 'about_hrwa_img' ) %>
      <p>The Columbia University Human Rights Web Archive and Portal provides search access to archival copies of over 450 web sites in the area of human rights.  Collection began in 2008 and is ongoing for active sites.</p>

			<p>There are currently over 48 million pages of Web content in 60 languages, and cover a broad range of human rights issues, such as genocide, torture, war crimes, transitional justice, political prisoners, disappeared persons, human trafficking, women's rights, refugees, indigenous peoples' rights, and many others.</p>

			<p>An initiative of CUL's Center for Human Rights Documentation and Research, the Human Rights Web Archive is an effort to preserve and ensure access to freely available human rights resources created mainly by non-governmental organizations, national human rights institutions, and individuals.</p>
			<p>The project's objective is to develop best practices and standards for collecting and preserving freely available web resources and to integrate this activity into existing library collection development and technical services programs. </p>
			<p>The proliferation of freely available Internet resources of high research value has far outpaced libraries' efforts to collect and preserve them, forcing our collection development models to evolve. With the benefit of continued support from the Andrew W. Mellon Foundation, Columbia University Libraries and Information Services (CUL) has in 2009 begun a three-year project on Web Resources Collection Program Development (following a 2008 pilot project).</p>

    </article>
  </div>
</div>
