<div class="row">
  <div class="span12">
		<article class="entry">
      <h2>About the Collection</h2>
      <h4>The Archival Collection of Gustavus Elmer Emanuel Lindquist Papers in the Missionary Research Library Archives</h4>
      <br />
      <%= image_tag("about_the_collection.jpeg", :class => 'pull-right thumbnail', :id => 'about_the_collection_img' ) %>
      <p>
        The Lindquist papers represent the most significant collection of personal papers in the American section of the Missionary Research Library (MRL) Archives, which are a record group in the archives of The Burke Library (Columbia University Libraries) at Union Theological Seminary.
      </p>
      <p>
        The Missionary Research Library was an independent library which opened in 1914 at the Foreign Missionary Conference of North America (FMC) headquarters on Madison Avenue, supported initially by seed money from John D. Rockefeller. Unfortunately, alternative long term donors did not continue the necessary funding, although a range of missionary boards, individuals, and organizations continued to donate archival papers and publications to the library. By 1929 Union Theological Seminary offered housing to the library in the newly completed Brown Tower and by 1967, MRL became a functioning part of the Union Seminary Library. MRL closed as a separate library in 1976 and all collections, published and archival, were merged into The Burke Library (former Union Theological Seminary Library).
      </p>
      <p>
        Following the death of Lindquist in February 1967, it was natural for his archival papers, like those of many other individual missionaries and missionary institutions, to be transferred to the Missionary Research Library for access by a wider research public. The collection was in two parts: papers and photographs. The printed and manuscript sources consist of correspondence, reports, government publications, committee minutes, surveys, conference materials, articles, newspaper clippings, post-cards, questionnaires, pamphlets, and maps. The subjects of these materials include reports of the religious work in the reservations, surveys of Indian schools, reports and notes on conferences attended, and the practices of Indians across the U.S., Canada, and Mexico, including how the Christian teaching had affected them.
      </p>
      <p>
        The Lindquist Native American Photographs Collection is remarkable for its range.  Images date from 1909 to 1953, and are drawn from at least thirty-four States, as well as Mexico and Canada.  The collection is equally diverse from a thematic point of view, consisting of individual and group portraits, landscapes, buildings (private residences, churches, parsonages, schools, and government structures), agricultural and industrial scenes, cemeteries, parades and pageants, leisure activities, weather events, modes of transportation, and living conditions across a variety of Native communities.  It will no doubt be of considerable value to individuals exploring topics in twentieth-century Native American history, anthropology, Christian missions, architecture, photography, the trans-Mississippi West, and travel and leisure.
      </p>
      <p>
        Although the archival papers have been accessed occasionally by scholars during the past decades, this large collection of photographs, including lantern slides from the Native American Reservations gathered by Lindquist during his working life, can now be viewed online for the first time.
      </p>
      <p>
        <strong>Ruth Tonkiss Cameron</strong><br />
        Archivist, The Burke Library at Union Theological Seminary<br />
        Columbia University Libraries
      </p>
      <p>
        <strong>With assistance from:</strong><br />
        David W. Daily<br />
        Associate Professor of Religion<br />
        University of the Ozarks
      </p>
    </article>
  </div>
</div>
