<div class="container no-hero-mobile">
  <div class="content">

    <div class="row">
      <div class="span12 columns">
        <article class="entry">

          <h2>Contact</h2>

          <p>This form is for public comments/feedback for Human Rights Web Archive. For bug/error reporting, please use the <%= link_to 'problem report', problem_report_path %> form.</p>

          <%= form_tag '#', {:class => 'form-horizontal', :id => 'commentForm', :action => '#', :method => 'post', :honeypot => true} do %>
            <fieldset>
              <div class="control-group">
                <label class="control-label">Message</label>
                <div class="controls">
                <textarea class="span9" id="txtFeedback" name="contact[message]" cols="70" rows="6" required="required"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Name (Optional)</label>
                <div class="controls">
                  <input class="span9" id="inpContactName" name="contact[name]" type="text" size="40">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Email (Optional)</label>
                <div class="controls">
                  <input class="span9" id="inpContactEmail" name="contact[email]" type="text" size="40">
                </div>
              </div>
            </fieldset>
            <p class="submit span11 alignright">
            <input type="submit" value="Submit" class="btn btn-primary">
            </p>
          <% end %>

        </article>
      </div>
    </div>

  </div> <!--//content-->
</div> <!-- /container -->
