<div class="container no-hero-mobile">
  <div class="content">

    <div class="row">
      <div class="span12 columns">
        <article class="entry">

          <h2>Problem Report</h2>

          <p>This form is for problem reports for the Human Rights Web Archive. For comments/feedback, please use the <%= link_to 'contact', contact_path %> form.</p>


          <%= form_tag 'http://', {:class => 'form-horizontal', :id => 'problemReportForm', :action => '#', :method => 'post', :honeypot => true} do %>
            <fieldset>
              <div class="control-group">
                <label class="control-label">Message</label>
                <div class="controls">
                <textarea class="span9" id="txtFeedback" name="problem_report[message]" cols="70" rows="6" required="required"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Name (Optional)</label>
                <div class="controls">
                  <input class="span9" id="inpContactName" name="problem_report[name]" type="text" size="40">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Email (Optional)</label>
                <div class="controls">
                  <input class="span9" id="inpContactEmail" name="problem_report[email]" type="text" size="40">
                </div>
              </div>
            </fieldset>
            <p class="submit span11 alignright">
            <input type="submit" value="Submit" class="btn btn-primary">
            </p>
          <% end %>

        </article>
      </div>
    </div>

  </div> <!--//content-->
</div> <!-- /container -->
