
    <div class="container no-hero-mobile">

	  <div class="content">

      <div class="row">
        <div class="span12 columns">
	<article class="entry">
        <h2>Nominate a Site for the Human Rights Web Archive</h2>
        <p>This form is for researchers and others who wish to nominate a website for inclusion in the <strong>Human Rights Web Archive</strong>. If you are the owner of the site you are nominating, please use the <a href="<%= owner_nomination_path %>" class="">owner nomination form</a>.</p>
        <p>Please note that we cannot guarantee the inclusion of a nominated website in this program. We review the nominations carefully and assess the subject, technical, and copyright issues that may affect a site's suitability for archiving. Send questions and comments to <a class="culhrweb-email" href="#">&hellip;</a>. See also our <%= link_to('FAQ', faq_path) %>.</p>

<form class="form-horizontal" id="frmPublicNomination" name="frmPublicNomination" action="#">
  <fieldset>
    <legend>Site Information</legend>
    <div class="control-group">
        <label class="control-label">Name of website/organization</label>
      <div class="controls">
        <input class="span9" id="inpSiteName" name="owner_nomination[SiteName]" type="text" size="40" required="required">
      </div>
    </div>
    <div class="control-group">
        <label class="control-label">URL of website</label>
      <div class="controls">
        <input class="span9" id="inpURL" name="owner_nomination[URL]" type="text" size="40" required="required">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="control-group">
        <label class="control-label">Description of website/organization</label>
      <div class="controls">
        <textarea class="span9" id="txtDescription" name="owner_nomination[Description]" cols="70" rows="6" required="required"></textarea>
      </div>
    </div>
    <div class="control-group">
        <label class="control-label">Additional Information</label>
      <div class="controls">
        <textarea class="span9" id="txtAdditionalInformation" name="owner_nomination[AdditionalInformation]" cols="70" rows="6"></textarea>
      </div>
    </div>
  </fieldset>
  <fieldset>
  <div class="control-group">
        <label class="control-label">Permissions</label>
    <div class="controls">
      <select>
        <option id="inpPermissionsYes" name="owner_nomination[Permissions]" value="Yes">Yes</option>
        <option id="inpPermissionsNo" name="owner_nomination[Permissions]" value="No"> No</option>
        <option id="inpPermissionsContact" name="owner_nomination[Permissions]" value="Contact">Please Contact To Discuss Permissions</option>
      </select>
        <p class="help-block">If we select your site for inclusion in the Human Rights Web Archive, will you give Columbia University Libraries/Information Services permission to crawl your site and provide access to the archived content in the Human Rights Web Archive?</p>
    </div>
  </div>
  </fieldset>
  <fieldset>
    <legend>Contact Information</legend>
    <p>Contact information is optional, but would be helpful in case we have any questions about the nominated site.
    <div class="control-group">
        <label class="control-label">Name</label>
      <div class="controls">
        <input class="span9" id="inpContactName" name="owner_nomination[ContactName]" type="text" size="40">
      </div>
    </div>
    <div class="control-group">
        <label class="control-label">E-mail</label>
      <div class="controls">
        <input class="span9" id="inpContactEmail" name="owner_nomination[ContactEmail]" type="text" size="40">
      </div>
    </div>
  </fieldset>
        <p class="submit">
          <input type="submit" value="Submit" class="btn btn-primary" />
        </p>
</form>

	</article>
       </div>
      </div>

	  </div> <!--//content-->


    </div> <!-- /container -->
