<div class="container" id="inner-headline-outer">
 <div class="row">
  <div class="span9">
  <div id="inner-headline">
   <h1>HUMAN RIGHTS WEB ARCHIVE</h1>
   <h2>@ Columbia University</h2>
  </div>
  </div>
  <div class="span3">
	<div id="header-pic"> 
              <div class="item" title="from: humanrightslogo.net. should we use?" rel="tooltip">
hrwa, world!
                <img src="/assets/HRLogoCMYKsmallRGB.png" alt=""> 
              </div>
    </div>
  </div>
 </div>
</div>
