<div class="container" id="inner-headline-outer">
 <div class="row">
  <div class="span9">
  <div id="inner-headline">
   <h1>HUMAN RIGHTS WEB ARCHIVE</h1>
   <h2>@ Columbia University</h2>
  </div>
  </div>
  <div class="span3">
	<div id="header-pic"> 
              <div class="item" title="from: humanrightslogo.net. should we use?" rel="tooltip">
<p><span class="trajanprobold culblue2">Columbia University Libraries</span><br /><span class="black sc">Center for Human Rights Documentation &amp; Research</span></p>
              </div>
    </div>
  </div>
 </div>
</div>

<div id="secondary_nav">
 <div class="subnav">
<ul class="nav nav-pills">
  <li <% if current_page?(about_path) %>class="active"<% end %>><a href="<%= about_path %>">About the Archive</a></li>
  <li><a href="#" class="donothing">Nominate a Site</a></li>
  <li><a href="#" class="donothing">Statistics</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Dropdown
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
     <li><a href="#" class="donothing">sub one</a></li>
     <li><a href="#" class="donothing">sub two</a></li>
    </ul>
  </li>
</ul>
 </div>
</div>
