<div class="container" id="inner-headline-outer">
 <div class="row">
  <div class="span9">
  <div id="inner-headline">
   <h1>HUMAN RIGHTS WEB ARCHIVE</h1>
   <h2>@ Columbia University</h2>
  </div>
  </div>
  <div class="span3">
    <img class="" src="http://zapata.cul.columbia.edu/mkimg/220-80-222222-ffffff" alt="">
  </div>
 </div>
</div>
