    <div class="container no-hero-mobile">

  <!-- Main heading -->
  <%= render :partial=>'static/inner_headlines' %>

	  <div class="content">

      <div class="row">
        <div class="span9 columns">
	<article class="entry">
          <h2>About the Project</h2>
		<h3>The Archive</h3>

		<p>The Columbia University Human Rights Web Archive and Portal provides search access to archival copies of over 450 web sites in the area of human rights.  Collection began in 2008 and is ongoing for active sites.</p>

		<p>There are currently over 48 million pages of Web content in 60 languages, and cover a broad range of human rights issues, such as genocide, torture, war crimes, transitional justice, political prisoners, disappeared persons, human trafficking, women's rights, refugees, indigenous peoples' rights, and many others.</p>

		<h3>The Purpose</h3>
		<p>An initiative of CUL's Center for Human Rights Documentation and Research, the Human Rights Web Archive is an effort to preserve and ensure access to freely available human rights resources created mainly by non-governmental organizations, national human rights institutions, and individuals.</p>
		<p>The project's objective is to develop best practices and standards for collecting and preserving freely available web resources and to integrate this activity into existing library collection development and technical services programs. </p>
		<p>The proliferation of freely available Internet resources of high research value has far outpaced libraries' efforts to collect and preserve them, forcing our collection development models to evolve. With the benefit of continued support from the Andrew W. Mellon Foundation, Columbia University Libraries and Information Services (CUL) has in 2009 begun a three-year project on Web Resources Collection Program Development (following a 2008 pilot project).</p>
	</article>

<!--
	<h2>News &amp; Updates</h2>
	<article class='entry'>
          <h3>Grant Supports Innovative Web Archiving Program at Columbia Libraries</h3>
		<p>Columbia University Libraries will soon begin an archive of human rights content published on the Web. The Libraries has received a three-year, $716,000 grant from the Andrew W. Mellon Foundation to develop and implement a program that will establish best practices for collecting, managing, preserving and providing access to at-risk digital content on human rights.</p>

		<p>Web-based human rights information is in danger of disappearing into the ether. Sites posting reports and news, particularly those listing human rights abuses, are often administered by organizations or individuals lacking the resources to maintain them, and are commonly hacked or taken down by opposition groups.</p>
          <p><a class="btn small" href="http://news.columbia.edu/oncampus/1651">Read more &raquo;</a></p>
	  </article>
	<article class='entry'>
	  <h3>Columbia University Libraries Receives $716K Mellon Grant for Web Content Collection and Archiving</h3>
		<p>(NEW YORK, June 25, 2009) Columbia University Libraries has received a $716,000 grant from the Andrew W. Mellon Foundation to develop and implement a program for incorporating web content into the Libraries’ collections.</p>
<p>Building on the results of a planning grant completed in 2008, the new three-year Mellon Foundation grant will establish best practices for collecting, managing, preserving, and providing access to at-risk digital content, specifically in the area of human rights. This is particularly timely, given events in world areas like Tibet and Iran, where web content is so vulnerable.</p>
          <p><a class="btn small" href="http://library.columbia.edu/news/libraries/2009/20090625_mellon.html">Read more &raquo;</a></p>
	  </article>
	  <article>
		<p>etc...</p>
	  </article>
-->
       </div>
        <div id="sidebar" class="span3 columns">
          <h4>Press</h4>
	  <ul>
		<li><a href="http://news.columbia.edu/oncampus/1651" class="external-link" rel="nofollow">Columbia News--On Campus</a></li>
		<li><a href="http://library.columbia.edu/news/libraries/2009/20090625_mellon.html" class="external-link" rel="nofollow">Mellon grant press release</a></li>
		<li><a href="/download/attachments/7145388/NETSL_2009.ppt?version=1&amp;modificationDate=1253566839000">NETSL 2009 presentation</a></li>
		<li><a href="https://www1.columbia.edu/sec/cu/libraries/bts/web_resource_collection/index.html" class="external-link" rel="nofollow">Web Resource Collection (BTS)</a></li>
      </ul>
          <h4>News &amp; Updates</h4>
        <ul>
        <li>ARCOMEM <a href="http://www.arcomem.eu/2011/09/inside-work-package-8/">"Inside Work Package 8" (2011)</a>. New tools for web archiving.</li>
        <li>Ben Saad, Pehlivan, and Gancarski, <a href="http://www-poleia.lip6.fr/~gancarsk/papers/BPG_TPDL2011.pdf">Coherence-oriented Crawling and Navigation using Patterns for Web Archives" (2011)</a> [PDF]. Authors propose novel coherence-oriented approaches of crawling and browsing to improve archives quality and users navigation.</li>
        </ul>
        </div>
      </div>

	  </div> <!--//content-->


    </div> <!-- /container -->
