<div class="container no-hero-mobile">

  <!-- Main heading -->
  <%= render :partial=>'static/inner_headlines' %>

	<div class="content">
		<div class="row">
			<div class="span12 columns">
					<article class="entry">
						<h2>Submit A Bug Report</h2>
						<form class="form-horizontal" id="frmBugReport-pub" name="frmBugReport" action="<%= bug_report_path %>">
							<p>This form is for submitting information about any bugs that you may have found on the site. Your excellent bug reporting skills can help us to make the Human Rights Web Archive even better.</p>
							<fieldset>
								<div class="control-group">
										<label class="control-label">Bug Description</label>
									<div class="controls">
										<textarea class="span9" id="txtDescription" name="description" cols="70" rows="6" required="required"></textarea>
									</div>
								</div>
								<div class="control-group">
										<label class="control-label">Your Name (Optional)</label>
									<div class="controls">
										<input class="span9" id="inpContactEmail" name="ContactEmail" type="text" size="40">
									</div>
								</div>
							</fieldset>
							<p class="submit alignright span11">
								<input type="submit" value="Submit" class="btn btn-primary donothing">
							</p>
							<div class="clearfix"></div>
						</form>
					</article>
				</div>
			</div>
		</div> <!--//content-->
</div> <!-- /container -->
