<%- # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = true unless options.has_key?(:escape_value)

    processed_label = options[:escape_label] ? h(label) : label
    processed_value = options[:escape_value] ? h(value) : value
-%>

<span class="appliedFilter constraint <%= options[:classes].join(" ") if options[:classes] %>">
      <%
      if ! (options[:remove].blank?) || ! (options[:clear_all_facets].blank?) %>
        <%
				accessible_remove_label = '<i class="icon-remove icon-white"></i>'.html_safe +
						if label.blank?
							processed_value
						else
							'<span class="opacity_75">'.html_safe + processed_label + '</span>: '.html_safe + processed_value
						end

				unless options[:clear_all_facets].blank?
					params_without_filters_or_facets = params.dup
					params_without_filters_or_facets.delete(:f)
					params_without_filters_or_facets.delete(:fq)
					params_without_filters_or_facets.delete(:capture_start_date)
					params_without_filters_or_facets.delete(:capture_end_date)
					params_without_filters_or_facets.delete(:excl_domain)

					%><%= link_to(accessible_remove_label,
						params_without_filters_or_facets,
						:class => 'btn btn-danger btn-small facet-pill',
						:rel => 'tooltip',
						:'data-original-title' => 'Remove all facets/filters',
						:alt => 'remove'
					) %><%
				else
					%><%= link_to(accessible_remove_label,
						options[:remove],
						:class => 'btn btn-info btn-small facet-pill',
						:rel => 'tooltip',
						:'data-original-title' => 'Remove this facet',
						:alt => 'remove'
					)
					%><%
				end
			end
			%>
</span>
