<!-- if related_terms.... -->
  <h4>Expand These Results</h4>
<div id="expanded_search" class="sb_widget facet_limit">
  <h6>Related Terms</h6>
  <ul class="unstyled">
    <li><input type="checkbox" value="term_1"> <span data-shorttitle="Term 1">Term One</span></li>
    <li><input type="checkbox" value="term_2"> <span data-shorttitle="Term 2">Term 2</span></li>
    <li><input type="checkbox" value="term_3"> <span data-shorttitle="Term 3">Term three</span></li>
    <li><input type="checkbox" value="term_4"> <span data-shorttitle="Term 4">Term four</span></li>
    <li><input type="checkbox" value="term_5"> <span data-shorttitle="Term 5">Term Five</span></li>
	<li class="more_facets_link"><a href="#" class="">more »</a></li>
	<li><a href="#" class="btn btn-mini">Search</a>  <a href="#" class="btn btn-mini">Search All</a></li>
  </ul>
</div>

<hr>

<% # main container for facets/limits menu -%>
<%
if @result_list.length > 0
  %><h4>Narrow These Results</h4><%
end
%>
<%= render_facet_partials %>
