    <% # container for a single group -%>
    <div class="document <%= render_document_class group %>">

      <% # header bar for group items in index view -%>
      <div class="documentHeader">

        <% # bookmark/folder functions for items/docs -%>
        <%#= render_index_doc_actions group %>

        <% # main title container for group partial view -%>
        <div class="yui-u">
          <h3 class="index_title">
            <%= group_counter + 1 + @response.params[:start].to_i %>.
           </h3>
           <% # debugger %>
           <!-- <%= "<pre>#{ group.pretty_inspect }</pre>".html_safe %> -->
           <%= ( not group[ :contentTitle ].blank? ) ? group[ :contentTitle ] : '[Untitled]' %>
        </div>
      </div>

      <% # main container for group partial view -%>
      <%#= render_document_partial group, :index %>

    </div>
