<% coins_data_to_print =

  'ctx_ver=Z39.88-2004&amp;' +
  'rft_val_fmt=info:ofi/fmt:kev:mtx:dc&amp;' +
  'rfr_id=info:sid/ocoins.info:generator&amp;' +

  'rft.url=' + CGI::escape(request.host + '/' + document.get('id')) + '&amp;' +
  'rft.title=' + CGI::escape(document.get('item_title')) + '&amp;' +
  'rft.type=' + CGI::escape('Web Page') + '&amp;' +
  'rft.format=' + CGI::escape(document.get('format')) + '&amp;' +
  'rft.source=' + CGI::escape('G.E.E. Lindquist American Photographs') + '&amp;' +
  'rft.identifier=' + CGI::escape(document.get('id')) + '&amp;' +
  'rft.date=' + CGI::escape(document.get('display_date_free_text')) + '&amp;' +
  'rft.language=English'

%><span class="Z3988" title="<%= coins_data_to_print.html_safe %>"></span>
