<% if @previous_document || @next_document %>
	<ul id="previousNextDocument" class="pull-right">
		<li class="pull-right"><%= link_to_next_document(@next_document) %></li>
		<li class="pull-right"><%= link_to_previous_document(@previous_document) %></li>
	</ul>
<% end %>
