<div class="row">
    <% if paginate_params(@response).num_pages > 1 %>
    <div class="pagination span9">
      <%= paginate_rsolr_response @response, :outer_window => 2, :inner_window => 2, :theme => 'blacklight' %>
    </div>
    <div class="results_control span3">
    <% else %>
    <div class="results_control offset9 span3">
    <% end %>
     <a class="toggle_all_btn btn success" data-original-title="Show more detailed results">Show more detail +</a>
    </div>
</div>
    <div class="clear"></div>
