<div class="row">
    <% if paginate_params(@response).num_pages > 1 %>
    <div class="pagination span9">
      <%= paginate_rsolr_response @response, :left => 2, :inner_window => 3, :theme => 'blacklight' %>
    </div>
    <div class="results_control span3">
    <% else %>
    <div class="results_control offset9 span3">
    <% end %>
     <a class="toggle_all_btn btn success" data-original-title="Expand all results">Expand All +</a>

    <%= link_to '#', search_path(params.merge({:sort => 'score desc'})), {:class => 'all_sort_default btn', :'data-original-title' => 'Sort by Relevance'} %>
    <% if @configurator.name == 'find_site' %>
        <%= link_to 'A-Z', search_path(params.merge({:sort => 'title__facet asc'})), {:class => 'all_sort_a-z btn', :'data-original-title' => 'Sort by A-Z'} %>
        <%= link_to 'Z-A', search_path(params.merge({:sort => 'title__facet desc'})), {:class => 'all_sort_z-a btn', :'data-original-title' => 'Sort by Z-A'} %>
    <% end %>

    </div>
</div>
    <div class="clear"></div>
