<% @page_title = "Advanced Search" %>

<div class="row">
  <div class="span12">
	  <article class="entry">
		<h2 id="advanced_search_title">Advanced Search</h2>

			<div class="tabbable"> <!-- Only required for left/right tabs -->
				<ul class="nav nav-tabs">
					<li class="active pull-left"><a href="#advanced_search_find_site_tab" data-toggle="tab">Search through website descriptions</a></li>
					<li class="pull-left"><a href="#advanced_search_archive_tab" data-toggle="tab">Search through page full text</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="advanced_search_find_site_tab">
						<%= render :partial => 'advanced_search_form_find_site' %>
					</div>
					<div class="tab-pane" id="advanced_search_archive_tab">
						<%= render :partial => 'advanced_search_form_archive' %>
					</div>
				</div>

			</div>

    </article>
  </div>
</div>
