<div class="container">

      <!-- Main heading -->
      <%= render :partial=>'static/inner_headlines' %>

  <div class="row">
    <div id="error-outer" class="span12">


<div class="error-message alert alert-danger big">
<h3>ERROR:</h3>
  <%= @error_message %>
</div>

    </div> 
  </div>
</div>

<!-- REQUEST_TEST_STRING: HRWA::CATALOG::ERROR::RENDER_SUCCESS -->

