<div class="container">

      <!-- Main heading -->
      <%= render :partial=>'static/inner_headlines' %>

  <div class="row">
    <div id="error-outer" class="span12">
      <div class="error-message<%= @error_type == :user ? ' alert alert-info' : ' alert alert-error' %>">
        <p><%= @error_message %></p>
      </div>

      <!-- TODO: TAKE THIS OUT OF PROD -->
      <% if Rails.env != "hrwa_prod" %>
        <% #Only show the box (with a border) if the hrwa_debug param value == "true" %>
        <% if params[:hrwa_debug] == "true" %>
          <div id="debug" name="debug" style="background-color: white; padding: 10px; border: 1px solid red; margin: 30px;">
            <%= @debug %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<!-- REQUEST_TEST_STRING: HRWA::CATALOG::ERROR::RENDER_SUCCESS -->

