<div class="container">

  <div class="row">
    <div class="span12">
      <div class="error-message alert <%= @alert_type %>">
        <p><%= @error_message %></p>
      </div>
    </div>
  </div>
</div>

<!-- REQUEST_TEST_STRING: HRWA::CATALOG::ERROR::RENDER_SUCCESS -->
