<div class="container">

<%= debug_link %>

<h1>ERROR:</h1>
<%= @error_message %>

<!-- TODO: TAKE THIS OUT OF PROD -->
<div id="debug" name="debug" style="background-color: white; color: black; padding: 10px; border: 1px solid red; margin: 30px;">
  <%= @debug %>
</div>

</div>

<!-- REQUEST_TEST_STRING: HRWA::CATALOG::ERROR::RENDER_SUCCESS -->

