<div class="row">
<div class="span3">
          <h4 class="inline">The Human Rights Web Archive @ Columbia University</h4>
					<p class="inline"> is a searchable collection of archived copies of human rights websites created by non-governmental organizations, national human rights institutions, tribunals and individuals. Collecting began in 2008 and has been ongoing for active websites. New websites are added to the collection regularly.</p>
					<br /><br />
					<p>The HRWA is an initiative of the <%= link_to 'Center for Human Rights Documentation & Research', 'http://library.columbia.edu/content/libraryweb/indiv/humanrights.html' %> and is a key focus of the Columbia University Libraries’ <%= link_to 'Web Resources Collection Program', 'https://library.columbia.edu/bts/web_resources_collection.html' %>. The HRWA was made possible by generous support from the Andrew W. Mellon Foundation. <%= link_to 'Learn More &raquo;'.html_safe, about_path %></p>
     </div>
  <div class="span9">
    <%= render :partial => 'hrwa_home_content' %>
  </div>
</div>
