<div class="row">
  <div class="span3">
    <h4 class="inline">G.E.E. Lindquist Native American Photographs</h4>
    <p class="inline justify">is an online presentation of the 1322 photographs, 124 postcards, 388 negatives, and 34 glass plate negatives/lantern slides, which derive from the G.E.E. Lindquist Papers archival collection at The Burke Library.</p>
    <p></p>
    <p class="justify">They depict the people, places, and practices of Native Americans and their communities from at least 34 States, plus Canada and Mexico in the period from 1909-1953. The majority of the images were taken by G. E. E. Lindquist (1886-1967), an itinerant representative of the ecumenical Home Missions Council of the Federal Council of Churches.</p><p></p>
  </div><!-- /span3 -->

  <div class="span9">
    <%= render :partial => 'hrwa_home_content' %>
  </div>
</div>
