<div class="row">
<div class="span3">
          <h4 class="inline">The Columbia University Human Rights Web Archive &amp; Portal</h4>
		  <p class="inline"> provides search access to archival copies of over 450 web sites in the area of human rights.  Collection began in 2008 and is ongoing for active sites…</p>
	      <p class="">There are currently over 7 million pages of Web content in 8 languages, and cover a broad range of human rights issues, such as women's rights, genocide, refugees, war crimes, reconciliation, AIDS, civil rights, democracy, gun control, human trafficking, and many others. <a href="/about">more…</a></p>
     </div>
  <div class="span9">
    <%= render :partial => 'hrwa_home_content' %>
  </div>
</div>
