<div class="row">
	<div class="span12">
		<h6>Find Pages/Sites that have&hellip;</h6>
			<div class="input-prepend">
				<label class="pull-left span4 add-on">all these words:</label>
				<input class="pull-left span8 q_and" placeholder="Enter search terms..." name="q_and" size="16" type="text"/> <a title="You can do this in simple search by adding a + (plus sign) to the beginning of the word you require." rel="tooltip" href="#">tip</a>
			</div>
			<div class="input-prepend">
				<label class="pull-left span4 add-on">this exact wording or phrase:</label>
				<input class="pull-left span8 q_phrase" placeholder="Enter search terms..." name="q_phrase" size="16" type="text"/> <a title="You can do this in simple search by &quot;surrounding your phrase with quotes&quot;." rel="tooltip" href="#">tip</a>
			</div>
			<div class="input-prepend">
				<label class="pull-left span4 add-on">one or more of these words:</label>
				<input class="pull-left span8 q_or" placeholder="Enter search terms..." name="q_or" size="16" type="text"/>
			</div>
			<h6>But don't show results that have&hellip;</h6>
			<div class="input-prepend">
				<label class="pull-left span4 add-on">any of these unwanted words:</label>
				<input class="pull-left span8 q_exclude" placeholder="Enter search terms..." name="q_exclude" size="16" type="text"/> <a title="You can do this in simple search by adding a - (minus sign) to the beginning of the word you don't want." rel="tooltip" href="#">tip</a>
			</div>
	</div>
</div>
