<%= form_tag catalog_index_path, :method => :get, :id => 'topsearchform', :class => 'searchform' do %>
  <input type="hidden" name="search" value="true" />
  <div class="input-append">
    <div id="top_q_wrapper" class="pull-left">
      <%= text_field_tag :q, '', :class => 'span6 pull-left', :placeholder => 'Start a new search&hellip;'.html_safe, :id => 'q', :'data-original-title' => 'Search Lindquist', :'data-content' => 'Enter your search terms.', :rel => 'popover' %>
    </div>
    <label class="pull-left add-on btn-inverse" id="top_form_submit_label" title="Submit your search." rel="tooltip">
      <a href="#" id="top_form_submit" class="submitss white"> <i class="icon-search icon-white"></i></a>
      <input type="submit" class="hidden invisible" />
    </label>
  </div>
<% end %>
