<%= form_tag catalog_index_path, :method => :get, :id => 'topsearchform', :class => 'searchform' do %>
  <div class="input-append">
      <div id="top_q_wrapper" class="pull-left">
          <div class="pull-right span1 btn-group nomar nopad">
              <a data-original-title="Search Sources" title="Select Your Search Source" rel="tooltip" class="span1 pull-right btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" id="advo_link" href="#"><span>Sites</span> <b class="caret"></b></a>
              <div class="dropdown-menu">
                  <strong>Search:</strong>
                  <ul id="top_datasource" class="unstyled">
                      <%
                        if params[:search_type] && params[:search_type] == 'archive'
                          checked_radio_button = 'archive'
                        else
                          checked_radio_button = 'find_site'
                        end
                      %>
                      <li><label class="radio"><input type="radio" name="search_type" value="find_site" <%= 'checked="checked"' if checked_radio_button == 'find_site' %>><span data-shorttitle="Sites">Find a Site</span></label></li>
                      <li><label class="radio"><input type="radio" name="search_type" value="archive"   <%= 'checked="checked"' if checked_radio_button == 'archive' %>><span data-shorttitle="Pages">Search Through Archived Pages</span></label></li>
                      <li class="divider"></li>
                  </ul>
                  <p><a id="cliobeta_exit" href="http://cliobeta.columbia.edu" rel="tooltip" title="Goto CLIObeta"><img src="http://library.columbia.edu/content/libraryweb/index/jcr%3acontent/bottomCell/textimage/image.img.png/1332439303934.png" alt="cliobeta"><i class="icon-arrow-right"></i></a></p>
              </div>
          </div>
          <input type="text" class="span5 pull-left" data-content="Enter your search terms." data-original-title="Search the Libraries" id="q" name="q" placeholder="Start a new search&hellip;" value="">
      </div>
      <label data-original-title="Submit Your Search" rel="tooltip" id="top_form_submit_label" class="pull-left add-on btn-primary">
          <a class="submitss white" id="top_form_submit" href="#"><i class="icon-search icon-white"></i></a>
          <input type="submit" class="hidden invisible">
      </label>
  </div>
<% end %>
